.git
.DS_Store

account

profile/frontend/node_modules
profile/frontend/dist
profile/frontend/*.tsbuildinfo

content/frontend/node_modules
content/frontend/dist
content/frontend/*.tsbuildinfo

profile/backend/.gradle
profile/backend/.kotlin

content/backend/.gradle
content/backend/.kotlin

dev/.env
dev/secrets
