.git
.DS_Store

frontend/node_modules
frontend/dist
frontend/*.tsbuildinfo

backend/build
backend/.gradle
backend/.kotlin

dev/.env
dev/secrets
dev/account-src
!dev/account-src/
dev/account-src/**
!dev/account-src/backend/
!dev/account-src/backend/src/
!dev/account-src/backend/src/main/
!dev/account-src/backend/src/main/proto/
!dev/account-src/backend/src/main/proto/**
