.DS_Store

# Frontend
profile/frontend/node_modules/
profile/frontend/dist/
profile/frontend/*.tsbuildinfo
content/frontend/node_modules/
content/frontend/dist/
content/frontend/*.tsbuildinfo

# Kotlin / Gradle
profile/backend/build/
profile/backend/.gradle/
profile/backend/.kotlin/
content/backend/build/
content/backend/.gradle/
content/backend/.kotlin/

# Local development
account/
dev/.env
dev/secrets/
